<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="<%= site.title %>" />

  <% if ('/' === event.path) { %>
    <meta property="og:title" content="<%= site.title %>" />
    <meta property="og:description" content="<%= site.description %>" />
    <meta property="og:image" content="<%= site.ogp.image %>" />
    <meta property="twitter:title" content="<%= site.title %>" />
    <meta property="twitter:description" content="<%= site.description %>" />
    <meta name="twitter:image" content="<%= site.ogp.image %>" />
  <% } else { %>
    <meta property="og:title" content="<%= page.title %>" />
    <meta property="og:description" content="<%= page.description %>" />
    <meta property="og:image" content="<%= page.ogp.image %>" />
    <meta property="twitter:title" content="<%= page.title %>" />
    <meta property="twitter:description" content="<%= page.description %>" />
    <meta name="twitter:image" content="<%= page.ogp.image %>" />
  <% } %>

  <meta property="og:url" content="<%= site.url.replace(/\/$/, '') %><%= event.path %>" />
  <meta name="twitter:card" content="site.twitter.card" />

  <% if ('/' === event.path) { %>
    <title><%= site.title %></title>
  <% } else { %>
    <title><%= page.title %> | <%= site.title %></title>
  <% } %>
  <style></style>
</head>
<body>
